<section class="container-box">
	<section class="container-form">
		<div class="title">ATM</div>
		<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
			<div>
				<label class="text-label">Card Number</label>
				<input formControlName="cardNumber" />

				<div *ngIf="cardNumber?.errors && isSubmitted" class="invalid-feedback">
					<div *ngIf="cardNumber?.errors?.['required']">Card number is required</div>
					<div *ngIf="cardNumber?.errors?.['minlength']">Card number is not of 16 digits</div>
					<div *ngIf="cardNumber?.errors?.['maxlength']">Card number is not of 16 digits</div>
				</div>
			</div>
			<div>
				<label class="text-label">Pin</label>
				<input formControlName="pin" />

				<div *ngIf="pin?.errors && isSubmitted" class="invalid-feedback">
					<div *ngIf="pin?.errors?.['required']">Pin is required</div>
					<div *ngIf="pin?.errors?.['minlength']">Pin is not of 4 digits</div>
					<div *ngIf="pin?.errors?.['maxlength']">Pin is not of 4 digits</div>
				</div>
			</div>
			<button class="submit-button" type="submit">Submit</button>
		</form>
	</section>
</section>